{% extends "base.html" %}
{% block tab_content %} 
    Login 
{% endblock %}
{% block page_content %}
    <form action="/login_machine/" method="post">
        {% csrf_token %}
	    {{form.title}}
        <div class="form-group">
          <label for="username">nazwa użykownika</label>
          <input type="text" name="username" class="form-control" id="username">
          <label for="password">hasło</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-success">Zaloguj</button>
      </form> 

{% endblock %}