{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block page_content %}
    <div class="row">
        {% for product in object_list %}
            <div class="col-sm-3">
                <p>{{product.name}}</p>
                <p>
                    <img width="170" height="170" src="{% if product.image %}{{ product.image.url }}{% else %}
                    {% static "img/noimg.png" %}{% endif %}">
                </p>
                <p>Price: {{ product.price }}</p>
                <form action="{% url 'cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="{% trans "Dodaj do koszyka" %}">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock  %}