{% extends "base.html" %}

{% block page_content %}
<style>
    table.borderless td, table.borderless th{
        border: none !important;
    }
</style>

<section>
    <div class="row" id="tablerow">
        <div class="col-md-8 col-xs-12">
            <table class="table">
                <tr>
                    <td><h4>Order Summary</h4></td>
                </tr>
                <tr>
                    <td>
                        {% for item in order.get_cart_items %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>R {{ item.product.price }}</td>
                        </tr>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Order Total</strong></td>
                    <td><strong>R {{ order.get_cart_total }}</strong></td>
                </tr>
            </table>           
            <form method="POST" action="{% url 'process_payment' order_id=order.id %}">
                {% csrf_token %}
                <button  float: center; class="btn btn-warning">Pay with Paypal</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}