{% extends "base.html" %}

{% block title %}
    Koszyk na zakupy
{% endblock %}

{% block page_content %}
    <h1>Koszyk na zakupy</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Ilosc</th>
                <th>Cena jednostkowa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <form action="{% url 'cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="Zmień">
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <!--a href="{% url "order_create" %}">Do kasy</a-->
    <a class="btn btn-primary" href="{% url "order_create" %}" role="button">Do kasy</a>
{% endblock %}